/* colors palette:
#F3EFE0 ,(vanilla)
#434242 ,(darkgray)
#222222 ,(darkergray)
#22A39F ;(teal) */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
/* font-family: 'Raleway', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body,
html {
    background: #222222;
    font-family: 'Raleway', sans-serif;
    height: 2000px;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
p,
a {
    color: #f3efe0;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

/* header */

header {
    width: 100%;
    white-space: nowrap;
    user-select: none;
}

.header-content {
    display: flex;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.header-content > img {
    animation: load-in-image 1.3s ease;
}

.header-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;

    animation: load-in-div 1.3s ease;
}

@keyframes load-in-image {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes load-in-div {
    0% {
        opacity: 0;
        transform: translateX(+50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.separator {
    width: 100%;
    border-bottom: 1px solid #434242;
}

/* main */

.input-wrapper {
    padding-top: 150px;
}

.search-input {
    margin: 0 auto;
    width: 450px;
    height: 40px;
    border-radius: 40px;
    background: #222222;
    border: 1px solid transparent;

    animation: input-slide-in 1.3s;
}

@keyframes input-slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.search-input > input {
    box-shadow: none;
    background: transparent;
    width: 330px;
    height: 100%;
    float: left;
    border: 0;
    padding-left: 20px;
    border-radius: 40px;
    border-top-style: none;

    color: #f3efe0;
    font-size: 1em;
}

.search-input input:focus {
    outline: 0;
}
.search-input input:focus::placeholder {
    color: transparent;
}

.search-input input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    border-style: none;
}

.search-input input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    border-style: none;
}

.search-input input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    border-style: none;
}

.search-input > button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 38px;
    width: 108px;
    color: #f3efe0;
    text-transform: uppercase;
    background: #22a39fbb;
    border-radius: 40px;

    transition: background 0.3s;
}
.search-input > button:hover {
    background: #22a39f;
}

.input-error {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;

    animation: error-slide-in 0.8s;
}
.input-error > p {
    color: red;
}

@keyframes error-slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.search-background {
    position: absolute;
    min-width: 100%;
    -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.search-background > img {
    object-fit: cover;
    min-width: 100%;
    max-height: 400px;
    filter: brightness(60%);

    animation: back-load-in 1.5s ease-in;
}

@keyframes back-load-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.weather-output__wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 5em;
}
.weather-active {
    display: flex;
    animation: weather-appear 1s ease;
    animation-fill-mode: forwards;
}

@keyframes weather-appear {
    0% {
        opacity: 0;
        display: none;
    }
    1% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}

.weather-buttons__wrapper {
    display: flex;
    gap: 0.5em;
}

.weather-button {
    white-space: nowrap;
    color: #f3efe0;

    height: 30px;

    padding: 0px 10px;

    border: none;
    border-radius: 3px;
    background: #434242;
    cursor: pointer;

    transition: all 0.3s;
}

.button-active {
    border: 1px solid #22a39f;
    background: #222222;
}

.weather-output {
    display: flex;
}

.weather-panels {
    display: none;
    gap: 2em;
}
.panels-active {
    display: flex;
}

.weather-panel {
    color: #f3efe0;
}
.weather-panel .separator {
    border-color: #22a39f;
}

.weather-panel__wrapper {
    padding: 15px;
    border: 1px solid #22a39f;
    border-radius: 5px;
}

.weather-panel__city {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.weather-panel__date {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.weather-panel__temp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: 15px 0px;
}
.weather-panel__description {
    text-align: center;
    padding-bottom: 10px;
}
.weather-panel__info {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
.weather-panel__info > div {
    font-size: 0.8em;
}
.weather-panel__info span {
    font-size: 1.1em;
    font-weight: bold;
}
